body {
    background: linear-gradient(158.18deg, rgba(26, 90, 255, 0.97) 4.5%, #262626 34.84%, rgba(0, 0, 0, 0.941549) 55.84%, rgba(139, 9, 241, 0.95) 94.11%);
  }
  
  main {
    background-image: url("../../image/body_background.png");
    height: 1000px;
    width: 100%;
  }